@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Inter:wght@400;600&family=Lato:wght@300;400;700&family=Poppins:wght@200;300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  font-family: 'Cinzel', serif;
    font-family: 'Fauna One', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  margin:auto; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
